body{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #595959;
    border: 30px;
}

h1{
    text-align: left;
    padding: 20px;
    color: #011f4b;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
}

p{
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #595959;
}

h2{
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
    color: #011f4b;
    font-size: 18px;
    text-align: left;
}

header{
    color: #b3cde0;
}
.containerHome{
    background-color:#066bc9;
}

.containerSearch{
    background-color:white;
}

.containerExplore{
    background-color:#066bc9;
}