body{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #595959;
    border: 30px;
}

h1{
    padding: 20px;
    color: #011f4b;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #595959;
}

h2{
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
    color: #011f4b;
    font-size: 18px;
}

header{
    color: #b3cde0;
}

.containerHome{
    height: 100%;
    padding: 20px;
    background-color:#066bc9;
}

.containerSearch{
    padding: 20px;
    padding-bottom: 100px;
    background-color: #3984ca;
}

form{ 
    text-align: center;
}
.containerExplore{
    padding: 20px;
    background-color:#82a8cc;
}

.featuredResults{
    background-color: white;
    border-radius: 24px;
    padding: 20px;
}

.featuredResult{
    whi
}

.featuredImg{

}


.featuredTitle{
    
}