/**/
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-align: center;
    color: #595959;
    border: 30px;
}

h1{
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    text-shadow: 5px 5px #7DB46CFF;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #595959;
}

header{
    background-color: #7DB46CFF;
}

/* input form */
/* cards */
.card{
    display:inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.card-img-top{
    height: 150px;
    width: 100px;
    padding-top: 10px;
}

.card h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    color: #595959;
}

.card:hover{
    background-color: #EDC2D8FF;
}

/* containers */
.containerHome, .containerSearch, .containerExplore, .containerRandom{
    height: 100%;
    padding: 20px;
}


.containerHome, .containerSearch,.containerRandom h1{
    color: #ABD6DFFF;
}

.containerHome, .containerExplore h1{
    color: #E7EBE0FF;
}

.containerExplore h2{
    color: #E7EBE0FF;
    padding: 20px;
    font-family: 'Roboto Mono', monospace;
}

#explore .container{
    color: white;
    box-shadow: 5px 10px #669DB3FF;
    overflow-y:hidden;
    overflow-x:scroll;
}

#explore .row {
    background-color: white;
    padding: 20px;
}

/* other */
.align-centre-parent{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* media queries */
@media (max-width: 576px) {  
    
}